# Site settings
baseurl = "https://neuchatel2020.satrdays.org" 
languageCode = "en-us"
title = "satRday"
theme = ["hugo-satrdays-theme", "hugo-agency-theme"]

# Enter your tracking code to enable Google Analytics
googleAnalytics = ""

# Disable taxonomies that are not used https://discourse.gohugo.io/t/found-no-layout-for-taxonomyterm-language-en-output-format-html/16376
disableKinds = ["taxonomy", "taxonomyTerm"]

[params]
  # You can use Markdown syntax for urls [text](//url.to/source) or
  # most longer texts.
  #
  # All icons using Fontawesome's icon font. Look at fortawesome.github.io/Font-Awesome/icons/
  # for more icons. The icons are represented by their corresponding
  # CSS class.

  # To provide some metadata for search engines feel free to add a few
  # information about you and your website.
  name = "satRday Neuchâtel"
  description = "R conference in Neuchâtel"
  email = "satrday.neuchatel@gmail.com"

  # Link custom assets relative to /static
  custom_css = ["css/satrday.css"]
  custom_js  = []
  favicon    = "img/favicon.ico"

  # Possibility to disable external/additional fonts
  # Exception: Fontawesome
  disableFonts = false

  # 404 error customization
  [params.error404]
    heading = "Page couldn't be found"
    text = "Please visit [this page](/)"

  # Optional piwik tracking
  #[params.analytics.piwik]
  #  URL = "https://stats.example.com"
  #  ID = "42"
  #  # Track all subdomains with "*.example.com"
  #  domain = "www.example.com"
  #  # Optional integrity check hash
  #  hash = "sha512-RfeD0pacGTqy9m7U6PgehQfS4cc7SIt+e+P+H5e848kEvB/RW84CUGO3O4O3LNbxjevym6KPUZ8muPsMrI8WIw=="

  # Navigation
  [params.navigation]
    brand = "satRday"
    # Optional logo as brand stored in img/
    logo = "logo.png"
    services = "About"
    about = "Dates"
    portfolio = "Talks"
    eventbrite = "Register"
    schedule = "Schedule"
    team = "People"
    contact = "Contact us"

    # Add custom links. Those can be pre- and postpended to the default menu above.
    # Use the weight attribute to order your custom links. Uncomment the example
    # below and replace the values with your own.

    # prepended links
   # [[menu.prepend]]
  #    url = "https://neuchatel2020.satrdays.org/#hackathon"
  #    name = "Get involved"
  #    weight = 10

      [[menu.postpend]]
      url = "https://neuchatel2020.satrdays.org/#hackathon"
      name = "Get involved"
      weight = 10
      
    # postpended links
    [[menu.postpend]]
      url = "http://satrdays.org/"
      name = "satRdays.org"
      weight = 20


  # Hero section
  [params.hero]
    # To change the background image of the hero, replace 'header-bg.jpg' in
    # the 'static/img' folder.
    title = "satRday Neuchâtel"
    subtitle = "A conference for users of the R Language on 14 March 2020"
    bg = true
    buttonText = "Tell me more"


  # About [Services] section
  [params.services]
    enable = true
    title = "About"
    subtitle = "Conference Details"

    [[params.services.row]]

    [[params.services.row.list]]
      icon = "fa-clock-o"
      title = "Details"
      description = "14 March 2020 at University of Neuchâtel"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-laptop"
      title = "Hands on"
      description = "Practical applications and workshop sessions"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-graduation-cap"
      title = "Learning"
      description = "Gain knowledge from your peers and experienced professionals"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-users"
      title = "Community Lead"
      description = "Community organised, community focussed"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-money"
      title = "Affordable"
      description = "Only 20 CHF (10 CHF for students)"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-universal-access"
      title = "Accessible"
      description = "Inclusive, supportive and respectful environment"
      url = "#"

 # Register section
  # You only need ONE of these active
  [params.tito]
    enable = true
    title = "Register"
    bg = true
    accountevent = "satrday-neuchatel/2020"
      # Go to https://ti.to/ and find the account (under your user) and event pair string e.g. "cardiff-satrday/2018"
      # include botht the account and event in a string, seperated by /, with no spaces

  # Call for papers section
  [params.callforpapers]
    enable = false
    title = "Call For Papers"
    bg = false
    CfSpage = "/test3490"
      # Go to Organizer > My Events > Dashboard and copy the "CfS Page" string into the `CfSpage` value
    dates = "Feb 2020 (TBA)"
  
  # Hackathon section
  [params.hackathon]
    enable = true
    bg = false
    title = "Call for Abstracts"
    subtitle = "We would love to hear about your work!"
    brief1="<p>Keen to be part of the program? We have reserved 2 x 30 Minutes sessions for shorter talks.</p>" 
    

  # Talk [Portfolio] section
  [params.portfolio]
    enable = false
    # All projects defined in their own files. You can find example projects
    # at 'exampleSite/data/projects'. Copy the 'projects' folder into the 'data' directory
    # at the root of this Hugo site.
    # For more informtion take a look at the README.
    title = "Talks"
    subtitle = "Who's saying what"
    bg = true

    [params.portfolio.modal]
      client = "Client"
      date = "Date"
      category = "Category"
      buttonText = "Close project"

  # Schedule section
  [params.schedule]
    enable = false
    title = "Schedule"
    bg = false

  # Important Dates [About] section
  [params.about]
    enable = true
    title = "Important Dates"
    subtitle = "Be prepared!"
    endpoint = "Conference"
    date = "14 March 2020"
    img = "1.png"


    # The events will be listed from the top to the bottom.
    # All images are stored under 'static/img/about'.
    # Replace them with your own.
    [[params.about.events]]
      img = "1.png"
      date = "December 2019"
      title = "Initial Announcement"
      description = "We're organising a conference!"

    [[params.about.events]]
      img = "2.png"
      date = "January 2020"
      title = "Ticket Sales starts"
      description = "Discount tickets available for students!"

    [[params.about.events]]
      img = "3.png"
      date = "Feb 2020"
      title = "Call For Abstracts"
      description = "Submissions for speakers are now open!"

    [[params.about.events]]
      img = "4.png"
      date = "Mid February 2020"
      title = "Call For Papers Ends"
      description = "Cut off date for speaker submissions"
  
  # Location section
  [params.location]
    enable = true
    title = "Auditoire Louis-Guillaume, University of Neuchâtel"
    subtitle = "Auditoire Louis-Guillaume, 2ème étage (ALG) F200 116, Bâtiment Unimail (Accès par l’entrée nord)"
    bg = true
    iframesrc = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2721.0457939830717!2d6.947079915609543!3d47.000073779149055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e0a265f006377%3A0x3a1737b19525ad43!2sChemin%20de%20Chantemerle%2020%2C%202000%20Neuch%C3%A2tel%2C%20Switzerland!5e0!3m2!1sen!2sfi!4v1575103924669!5m2!1sen!2sfi"

  # Team section
  [params.team]
    enable = true
    # Possibility to center items
    #center = true
    title = "Team"
    subtitle = "The people putting it together"
    bg = false
    description = ""
    speakers = "Speakers"
    

    # All team member's pictures are stored under 'static/img/team'.
    # Replace them with your own too.
    # Suggestion: Image size should be at least 360px*360px or the alignment might be affected.
    [[params.team.members]]
      img = "xavier.jpg"
      name = "Xavier Adam"
      position = "Organiser"
      # For bio markdown and even multiline strings are available.
      bio = """Genève R user group Co-organiser, Course Developer and Instructor at EPFL Extension School."""
      social = [
        ["fa-twitter", "https://twitter.com/xvrdm"],
        ["fa-github", "https://github.com/xvrdm"],
        ["fa-linkedin", "https://www.linkedin.com/in/xavier-adam-75803957/"]
      ]


    [[params.team.members]]
      img = "enrico.png"
      name = "Enrico Chavez"
      position = "Organiser"
      bio = """Course Developer & Instructor at EPFL Extension School, Senior Lecturer in Statistics and Probability at University of Geneva."""
      social = [
        ["fa-github", "https://github.com/enricochavez"],
        ["fa-linkedin", "https://www.linkedin.com/in/enrico-chavez-77518311/"]
      ]

    [[params.team.members]]
      img = "elise.jpg"
      name = "Elise Dupuis Lozeron"
      position = "Organiser"
      bio = """Statistician at the Geneva University Hospitals. Regularly teaches statistics using R."""
      social = [
        ["fa-linkedin", "https://www.linkedin.com/in/elise-dupuis-lozeron-b49345163/"]
      ]



    [[params.team.members]]
      img = "delphine.jpg"
      name = "Delphine Fontaine"
      position = "Organiser"
      bio = """Delphine Fontaine has a double education in psychology and statistics and is working at Les transports publics de la région lausannoise."""
      social = [
        ["fa-linkedin", "https://www.linkedin.com/in/delphine-fontaine-78aa04/"]
      ]

    [[params.team.members]]
      img = "sina.jpg"
      name = "Sina Rüeger"
      position = "Organiser"
      bio = """Former R-Ladies Lausanne co-organiser and Postdoc at EPFL, now Data Scientist in Helsinki, Finland."""
      social = [
        ["fa-twitter", "https://twitter.com/sinarueeger"],
        ["fa-github", "https://github.com/sinarueeger"],
        ["fa-linkedin", "https://www.linkedin.com/in/sinarueeger/"]
      ]

  # Client section
  [params.clients_list]
    enable = true
    # Possibility to center items
    #center = true
    # Optional client title specifying the involvement
    title = "Sponsors"
    bg = true

    # All the clients' logos are stored under 'static/img/logos'.
    # Replace them with your clients's logos.
    # Suggestion: .svg in the size of 280px*80px looks good
    [[params.clients]]
      logo = "UniNE_pos_c.jpg"
      link = "https://www.unine.ch/"

    [[params.clients]]
      logo = "partnerre.jpg"
      link = "https://partnerre.com/"


    [[params.clients]]
      logo = "HEC_unilogo_bleu_300dpi.jpg"
      link = "https://www.unil.ch/hec/en/home.html"


    [[params.clients]]
      logo = "Logo-sss_farbig.jpg"
      link = "https://www.stat.ch/en/"
  
    [[params.clients]]
      logo = "a+_logo_SCNAT_MULTI_RGB.png"
      link = "https://naturalsciences.ch/"
  



  [params.diversity]
    enable = true
    title = "Diversity"
    bg = true

  # Contact section
  [params.contact]
    enable = true
    title = "Contact us"
    subtitle  = ""
    buttonText = "Send message"
    # netlify = true

    # Since this template is static, the contact form uses www.formspree.io as a
    # proxy. The form makes a POST request to their servers to send the actual
    # email. Visitors can send up to a 1000 emails each month for free.
    #
    # What you need to do for the setup?
    #
    # - set your email address under 'email' below
    # - upload the generated site to your server
    # - send a dummy email yourself to confirm your account
    # - click the confirm link in the email from www.formspree.io
    # - you're done. Happy mailing!

    # It is possible to substitute formspring with other providers
    # as an example the mailout plugin from caddy.
    # Provide the post URL for the form and depending on the provider
    # add some custom JS script to finish the implementation.
    # postURL = "https://example.com/mailout/"

    email = "satrday.neuchatel@gmail.com"

    # Success and error message overwrite for async contact form
    thanks = "Thank you for contacting us. We get back to you soon."
    error = "Message could not be send. Please contact us at satrday.neuchatel@gmail.com instead."

    [params.contact.captcha]
      # sitekey = ""

    # 'warning' defines error messages for invalid inputs
    [params.contact.form.name]
      text = "Your Name *"
      warning = "Please enter your name."

    [params.contact.form.email]
      text = "Your Email *"
      warning = "Please enter your email address."

    [params.contact.form.message]
      text = "Your Message *"
      warning = "Please enter a message."

      # Add optional form fields to identify contact forms
      #[[params.contact.form.hidden]]
      #  name = "someID"
      #  value = "example.com"
      #
      #[[params.contact.form.hidden]]
      # Special values for name such as "page" and "site" will be autofilled
      #  name = "page"

  # Footer section
  [params.footer]
    enable = true
    copyright = "Published under the Apache License 2.0."

    [[params.footer.social]]
      icon = "fa-twitter"
      link = "https://twitter.com/satRdayNeuCH"
      title = "Twitter"

    [[params.footer.social]]
      icon = "fa-github"
      link = "https://github.com/satRdays/neuchatel2020"
      title = "GitHub"

    [[params.footer.quicklinks]]
      text = "Privacy Policy"
      link = "#"

    [[params.footer.quicklinks]]
      text = "Terms of Use"
      link = "#"
