/* Colours work */

header {
    color: white;
    background-position: center left;
}

.navbar-default {
    border-color: transparent;
    background-color: white;
    padding: 5px;
}

@media (min-width: 768px) {
    .navbar-default.navbar-shrink {
        padding: 5px 0;
    }
}

header {
    background-image: url(../img/Header-BG.png);
}

.intro-text .btn-xl {
    box-shadow: 1px 1px 1px #666;
}

.navbar-default .nav li a {
    color: #2165B6;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #4FFEDF;
}

.text-primary {
    color: #2165B6;
}

a {
    color: #2165B6;
}

.btn-primary {
    border-color: #2165B6;
    background-color: #2165B6;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #2165B6;
    background-color: #2165B6;
}

.btn-primary .badge {
    color: #2165B6;
}

.btn-xl {
    border-color: #2165B6;
    background-color: #2165B6;
    text-transform: none;
    padding: 1rem 2rem;
    font-weight: normal;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #2165B6;
    background-color: #2165B6;
}

.btn-xl .badge {
    color: #2165B6;
}

.navbar-default .navbar-brand {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, cursive;
    color: #2165B6;
    text-transform: uppercase;
}

.navbar-default .navbar-toggle {
    border-color: #2165B6;
    background-color: #2165B6;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2165B6;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #2165B6;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #2165B6;
}

.timeline>li .timeline-image {
    background-color: #2165B6;
}

section#contact .form-control:focus {
    border-color: #2165B6;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #2165B6;
}

::-moz-selection {
    background: #2165B6;
}

::selection {
    background: #2165B6;
}

body {
    webkit-tap-highlight-color: #2165B6;
}


/* Font work */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-xl {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .nav li a {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .intro-text .intro-heading {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#contact::-webkit-input-placeholder {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#contact:-moz-placeholder {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#contact::-moz-placeholder {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#contact:-ms-input-placeholder {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer span.copyright {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .intro-text .intro-lead-in {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .intro-text .intro-lead-in {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section h3.section-subheading {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content p.item-intro {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Static pages */

staticheader {
    text-align: center;
    color: #2165B6;
}

staticheader .intro-text {
    padding-top: 50px;
    padding-bottom: 0px;
}

staticheader .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

staticheader .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

staticheader .intro-text {
    padding-top: 200px;
    padding-bottom: 100px;
}

staticheader .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

static .staticbody {
    padding: 0 50px 0 50px;
}


/* Widths and paddings */

@media(min-width: 768px) {
    header .intro-text {
        padding-top: 100px;
        padding-bottom: 200px;
    }
}


/* Contact section */

section#contact {
    background-color: v
}


/*beardy battlers */

img.beardybattlers {
    max-width: 100%;
    max-height: 100%;
    align: center;
    padding: 10px;
}

p.ps {
    font-style: italic;
    padding-top: 50px;
    align: center;
}


/* Talks */

.Talks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Talk {
    flex: 0 1 100%;
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start;
    background: #f7f7f7;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 1px solid white;
}

.Talk:hover {
    text-decoration: none;
    background: #ccc;
}

.Talk-image {
    border-radius: 50%;
    width: 100px;
    max-width: 100%;
    height: auto;
    margin-right: 1rem;
    border: 0.5rem solid #2165B6;
}

.Talk-title {
    flex: 1;
}

.Talk-title h4 {
    text-transform: none;
    color: #222;
    font-weight: 600;
}

@media(min-width: 400px) {
    .Talk {
        flex: 0 1 96%;
    }
    .Talk-image {
        width: 120px;
    }
}

@media(min-width: 700px) {
    .Talk {
        flex: 0 1 calc(96% / 2);
    }
}

@media(min-width: 1000px) {
    .Talk {
        flex: 0 1 calc(96% / 3);
    }
}


/* Schedule */

.Schedule {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 50rem;
}

.ScheduleItem:first-of-type {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.ScheduleItem:last-of-type {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.ScheduleItem {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    text-decoration: none;
    border-left: 0.5rem solid #2165B6;
    border-top: 1px solid #2165B6;
    border-bottom: 1px solid #2165B6;
    border-right: 1px solid #2165B6;
    margin-bottom: -1px;
}

.ScheduleItem--service {
    border-left-color: #333;
    background: #f7f7f7;
}

.ScheduleItem-time {
    margin-right: 1.5rem;
    color: gray;
}

.ScheduleItem-time p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

.ScheduleItem-title {
    flex: 1;
    text-transform: none;
    color: #222;
    font-weight: normal;
    margin: 0;
    font-size: 1.4rem;
}


/* Layout Fixes */

section h3.section-subheading {
    margin-bottom: 5rem;
}

section {
    padding: 6rem 0 2rem;
}


/* Button neuveau */


/* General button style (reset) */

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #2165B6;
    background: none;
    background-color: white;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Button 4 */

.btn-4 {
    border-radius: 50px;
    border: 3px solid #fff;
    overflow: hidden;
}

.btn-4:active {
    border-color: #17954c;
    color: #17954c;
}

.btn-4:hover {
    color: white;
    background: none;
    background-color: #2165B6;
    border: 3px solid #fff;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-4:active:before {
    color: #17954c;
}


/* Button 4a */

.btn-4a:before {
    left: 130%;
    top: 0;
}

.btn-4a:hover:before {
    left: 20%;
}

.icon-arrow-right:before {
    content: "\e00d";
}

header .intro-text .intro-heading {
    text-transform: none;
}

    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #2165B6;
        background-position: bottom right;
    }

    header .intro-text .intro-lead-in {
        font-size: 3.2rem;
        font-style: normal;
        text-align: left;
    }
    header .intro-text {
        text-align: left;
    }
    header .intro-text .intro-heading {
        text-transform: none;
        font-size: 5rem;
        line-height: 1.2;
        text-align: left;
    }

@media(max-width: 1024px) {
    header {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #2165B6;
        background-position: bottom right;
    }

    header .intro-text .intro-lead-in {
        font-size: 3.2rem;
        font-style: normal;
        text-align: left;
    }
    header .intro-text {
        text-align: left;
    }
    header .intro-text .intro-heading {
        text-transform: none;
        font-size: 5rem;
        line-height: 1.2;
        text-align: left;
    }
}

@media(max-width: 500px) {
    header {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #2165B6;
        background-position: bottom right;
        padding-bottom: 8rem;
    }
    header .intro-text .intro-lead-in {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    header .intro-text .intro-heading {
        font-size: 2.2rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    header .intro-text a .btn {
        padding: 15px 50px;
    }
}
