{{ "<!-- eventbrite -->" | safeHTML }}
<section id="eventbrite" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.eventbrite.title }}{{ . }}{{ end }}</h2>
      </div>
    </div>
<div style="width:100%; text-align:left;"><iframe src="//eventbrite.co.uk/tickets-external?eid=my-event-id&ref=etckt" frameborder="0" height="575" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.co.uk/">Powered by Eventbrite</a></div></div>
  </div>
</section>
